/* sm */

@media (min-width: 640px){

    .hero::after{
        height: 430px;
        width: 380px;
    }

     #Portoflio{
       
        
     
         .carousel-control-prev {

            left: 0;}

            .carousel-control-next {

            right: 0;}

}

#Testimonials{

    img{
        width: 12% !important;
    }

     p{
  
    padding: 0px 20px;
    
  }
}

   

}

/* md */
@media (min-width: 768px){
    #Home{

        
    .nav-item{
       
        padding: 5px;
       
     

    }

    .navbar-nav{
       
        margin: 0;
        background-color: transparent !important;
        padding-left: 50px !important;
    }

    /* .nav-link{
        color: white;
    }

    .nav-link.active{
        color: white !important
    } */

    h1{
        color: white;
        font-family: var(--font2);
        font-size: 45px;
      
    }
       

    }

    .hero::after{
        width: 520px;
        height: 640px;
    }

     #Portoflio{
       
        
        img{
           width: 92% ;
        }

        .layer{
            left: 5.5%;
            right: 5.5%;
        }

         .carousel-control-prev {

            left: -40%;}

            .carousel-control-next {

            right: -40%;}

}

.header::after{
    width: 25%;
     left: 37%;
}

#Testimonials{

    img{
        width: 10% !important;
    }

     p{
  
    padding: 0px 35px;
    
  }

  .carousel-indicators {
    bottom: -28% ;
  }

}



}



/* lg */

@media (min-width: 1024px){

    #Home{

        h1{
            color: white;
            font-family: var(--font2);
            font-size: 55px;
          
        }

    }

    #About{
  
        img{
            width: 285%;
        }

        .content{
            padding-left: 240px;
        }

    }

    .hero::after{
        height: 370px;
        width: 280px;
        left: -25px;
    }

    #service{

        .innner{
            width: 77%;
        }

    }


     #Portoflio{
       
        
     
         .carousel-control-prev {

            left: -60%;}

            .carousel-control-next {

            right: -60%;}

}


#Testimonials{

    img{
        width: 9% !important;
    }

     p{
  
    padding: 0px 120px;
    
  }

  .carousel-indicators {
    bottom: -28% ;
  }

}


#Footer{

    .content{
        padding:0px 150px;
    }
}

   

}

/* xl */

@media (min-width: 1280px){

    #Home{

        .navbar-nav{
            padding-left: 40% !important;
        }

        .navbar-brand{
            margin-left: 80px !important;
        }


    }

    #About{
  
       

        .content{
            padding-left: 300px;
        }

        

    }


    .hero::after{
        height: 370px;
        width: 280px;
        left: -25px;
        top: 190px;
    }

    #service{

        .innner{
            width: 85%;
        }

    }


     #Portoflio{
       
        
     
         .carousel-control-prev {

            left: -80%;}

            .carousel-control-next {

            right: -80%;}

}

.header::after{
    width: 11.5%;
     left: 44%;
}


#Testimonials{

    img{
        width: 7% !important;
    }

     p{
  
    padding: 0px 250px;
    
  }

  .carousel-indicators {
    bottom: -28% ;
  }

}

#Footer{

    .content{
        padding:0px 300px;
    }
}





 

}

/* 2xl */

@media (min-width: 1536px){

    #About{
  
       

        .content{
            padding-left: 320px;
        }

        

    }


    .hero::after{
        height: 420px;
        width: 350px;
        left: -25px;
        top: 220px;
    }


      #Portoflio{
       
        
     
         .carousel-control-prev {

            left: -100%;}

            .carousel-control-next {

            right: -100%;}

}

    
 

}