body{
    margin: 0;
    padding: 0;
}

html{
   scroll-padding: 56px;
}


*{
    box-sizing: border-box;
}

:root{
    --color1:#343434;
    --color2:#1C1C1C;
    --font1:"Poppins", sans-serif;
    --font2: "Montserrat", sans-serif;
}

#Home{
    background-image: linear-gradient(rgba(0, 0, 0, 0.636)), url(../Images/bg.jpg);
    background-position: 0px 0px;
    background-size: cover;
    height: 105vh;

    .navbar{
      background-color: rgba(255, 255, 255, 0.773);
    }

    .text-white {
      color: var(--color2) !important;
    }


    .navbar-brand{
        font-family: var(--font2);
        font-weight: 900;
        text-transform: uppercase;
        margin-left: 80px;
        color: var(--color2);
    }

    .nav-item{
        font-family: var(--font1);
        color: var(--color2);
      
        cursor: pointer;
     

    }

  
    .nav-link{
       
        font-size: 14px;
        color: var(--color2);
        position: relative;
    }
    .nav-link.active::after{

      content: "";
      width: 80%;
      height: 1.8px;
      position: absolute;
      left: 5px;
      bottom: 6.8px;
      background-color: var(--color2);
      transition: all 0.7s;

    }

    .nav-link::after{
      content: "";
      width: 0;
      height: 1.8px;
      position: absolute;
      left: 5px;
      bottom: 6.8px;
      background-color: var(--color2);
      transition: all 0.7s;

    }

    .nav-link:hover.nav-link::after{
      width: 80%;
    }

    .navbar-toggler{
        border: 0;

    }

    .navbar-nav{
        background-color: white;
      
    }

    h5{
        font-size: 50px;
        color: white;
        font-family: var(--font2);
        font-weight: 800;
    }

    h1{
        color: white;
        font-family: var(--font2);
        font-size: 30px;
      
    }
    p{
        font-weight: lighter;
        margin: 20px 0px;
    }

    span{
        font-weight: 400;
    }

    .content li h6{
       
        font-size: 13px;
        color: white;
      
       
       
    }

    .content li{
        width: 35px;
        height: 35px;
        padding-top: 4px;
        background-color: rgba(0, 0, 0, 0.284);
        border-radius: 50%;
        margin: 0px 2px;
        cursor: pointer;
    }

        .navbar-expand-md .navbar-collapse {
          justify-content: flex-end;
        }

    .nav-tabs {
      --bs-nav-tabs-border-width:0;
      --bs-nav-tabs-link-hover-border-color: transparent;
      --bs-nav-tabs-link-active-bg:transparent;

    }

    

   
   
      
}

#Home span::after{
    content: "";
    animation: typing 7s infinite ;
}


@keyframes typing {
    1.8% {
      content: "Larry Daniels|";
    }
    3.6% {
      content: "Larry Daniel|";
    }
    5.4% {
      content: "Larry Danie|";
    }
    7.2% {
      content: "Larry Dani|";
    }
    9% {
      content: "Larry Dan";
    }
    10.8% {
      content: "Larry Da|";
    }
    12.6% {
      content: "Larry D|";
    }
    14.4% {
      content: "Larry|";
    }
    16.2% {
      content: "Larr|";
    }
    18% {
      content: "Lar|";
    }
    19.8% {
      content: "La|";
    }
    21.6% {
      content: "L|";
    }
    23.4% {
      content: "D|";
    }
    25.2% {
      content: "De|";
    }
    27% {
      content: "Dev|";
    }
    56% {
      content: "Deve|";
    }
    28.8% {
      content: "Devel|";
    }
    32.4% {
      content: "Develo|";
    }
    34.2% {
      content: "Develop|";
    }
    36% {
      content: "Develope|";
    }
    37.8% {
      content: "Developer|";
    }

    39.6% {
        content: "Develope|";
      }
    
    41.4% {
        content: "Develop|";
      }
    43.2% {
        content: "Develo|";
      }
    45% {
        content: "Devel|";
      }
    46.8% {
        content: "Deve|";
      }
    48.6% {
        content: "Dev|";
      }
    50.4% {
        content: "De|";
      }
    52.2% {
        content: "D|";
      }
    54% {
        content: "|";
      }
    55.8% {
        content: "D|";
      }

    57.6% {
        content: "De|";
      }

    59.4% {
        content: "Des|";
      }

    61.2% {
        content: "Desi|";
      }

    63% {
        content: "Desig|";
      }

    64.8% {
        content: "Design|";
      }

    66.6% {
        content: "Designe|";
      }
    68.4% {
        content: "Designer|";
      }
    70.2%{
        content: "Designe|";
      }

    72% {
        content: "Design|";
      }

    73.8% {
        content: "Design|";
      }

    75.6% {
        content: "Desig|";
      }

    77.4% {
        content: "Desi|";
      }

    79.2% {
        content: "Des|";
      }

    81% {
        content: "De|";
      }

    82.8% {
        content: "D|";
      }

    84.6% {
        content: "L|";
      }

    86.4% {
        content: "La|";
      }

      88.2% {
        content: "Lar|";
      }

      90% {
        content: "Larr|";
      }

      91.8% {
        content: "Larry|";
      }

      93.6% {
        content: "Larry D|";
      }

      95.4% {
        content: "Larry Da|";
      }

      97% {
        content: "Larry Dan|";
      }

      97.8%{
        content: "Larry Dani|";

      }

      98.5%{
        content: "Larry Daniel|";

      }

      100%{
        content: "Larry Daniels|";

      }

      


  

}

#About{
   
  
    img{
        width: 100%;
    }

    h3{
        color: var(--color1);
        font-size: 30px;
        font-weight: 900;
        font-family: var(--font2);
        margin: 0;

    }

    h6{
        color:#999999;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 2px;

    }

    p{
        color:#748182;
        font-family: var(--font1);
        padding-top: 10px;
        font-weight: 400;
        font-size: 15px;
        line-height: 1.6rem;
    }
    .content{
        padding: 80px 15px 0px;
    }

    .hero{
        margin-top: 80px;
    }

    .progress-bar {
        background-color: var(--color2);
      
    }

    .progress{
        --bs-progress-height: 1.5rem;
    }

    .btn1{
        padding: 10px 30px;
        border: 1px solid var(--color2);
        background-color: var(--color2);
        color:
        #d9d7d7;
        font-size: 13px;
        font-family: var(--font1);
        border-radius: 5px;
        transition: all 0.7s;

    }
    .btn1:hover{
        background-color: white;
        color: var(--color2);

    }

    .btn2{

        padding: 10px 30px;
        border: 1px solid var(--color2);
        background-color: white;
        color: var(--color2);
        font-size: 13px;
        font-family: var(--font1);
        border-radius: 5px;
        transition: all 0.7s;

    }

    .btn2:hover{
        background-color: var(--color2);
        color:#d9d7d7;

    }

   

    
}



.hero::after{
    content: "";
    width: 340px;
    height: 370px;
    background-image: url(../Images/dots.png);
    background-repeat: repeat;
    position: absolute;
    top: 120px;
    left: 20px;
    z-index: -1;
  
   
}

#service{
    background-color: #F7F7F7 ;



    i{
        border: 1px solid #F7F7F7 ;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: #F7F7F7;
        font-size: 30px;
        color: var(--color2);
        transition: all 0.7s;
    }

    h6{

        color: var(--color1);
        font-weight: 800;
        font-size: 18px;
        font-family: var(--font2);
        margin: 15px 0px;

    }

    p{
        font-size: 14px;
        font-family: var(--font1);
        color:#748182 ;
       
    }

    .innner{
        border-radius: 7px;
        box-shadow: 0px 10px 54px 0px rgba(0,0,0,0.1);
        padding: 20px ;
        background-color: white;
       
    }

    .innner:hover i{
      background-color:var(--color2);
        color:white;

    }

    /* .container{
        width: 90%;
    } */

    
}

.header{
        z-index: 1;
        color: var(--color1);
        font-weight: 800;
        font-size: 40px;
        margin: 30px 0px 70px;
        font-family: var(--font2);
}


.header::after{
  content: "";
  width: 40%;
  height: 50%;
  background-image: url(../Images/dots.png);
  background-repeat: repeat;
  position: absolute;
  top: 25px;
  left: 30%;
  z-index: -1;
}

#Portoflio{

  .nav-pills {
    --bs-nav-pills-link-active-color: var(--color2);
    --bs-nav-pills-link-active-bg: transparent;
  }
  img{
    width: 100%;
  }

  .container{
    width: 85%;
  }

  .nav-link {

    color: var(--color2);
    font-family: var(--font1);
    font-weight: 800;

  }

  h6{
    color: var(--color1);
    font-size: 12px;
    font-family: var(--font2);
    font-weight: 700;
    letter-spacing: 2px;
  }

  .layer{
    background-color: rgba(255, 255, 255, 0.841);
    position: absolute;
    top: 15px;
    bottom: -20px;
    left: 1%;
    right: 1%;
    opacity: 0;
    transition: all 0.7s;

  }

  .inner1:hover .layer{
    opacity: 1;
    top: 5px;
    bottom: 5px;

  }
  


  .icon i{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: var(--color2);
    color: white;
    font-size: 13px;
    transition: all 0.7s;
    cursor: pointer;
  }

  .icon i:hover{
    background-color: white;
    color: var(--color2);
  }



  .modal-content {
     color: rgb(208, 206, 206);
    cursor: zoom-out;
    font-size: 20px;
  }



  .carousel-control-next, .carousel-control-prev {
    color:#343434;
    font-size: 50px;

  }

  


}


#Testimonials{
  background-color: #F7F7F7;
  padding: 50px 0px 90px;
  
  p{
    color:#748182;
    font-family: var(--font1);
    font-weight: 300;
    font-size: 14px;
    padding: 0px 7px;
    line-height: 1.5rem;
  }

  h6{
    color: var(--color1);
    font-family: var(--font2);
    font-weight: 600;
  }

  span{
    font-size: 12px;
    color:#888888;
    font-family: var(--font1);
     font-weight: 600;
  }

  .carousel-indicators [data-bs-target] {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background-color: #888888;
    margin: 0px 6px;
  }

  .carousel-indicators {
    bottom: -20% ;
  }
}

#counter{

  .content i{
    font-size: 30px;
    color: var(--color1);
  }

  .content h3{
    color: var(--color1);
    font-size: 30px;
    font-weight: 900;
    font-family: var(--font2);
    margin: 15px 0px;

  }


  .content p{
    color:#748182;
    font-size: 15px;
    font-weight: 700;
    font-family: var(--font1);

  }


  



 

  .container{
    width: 95%;
  }

}


#Team{

  background-color: #F7F7F7;
  .container{
    width: 87%;
  }

  .card {
    --bs-card-border-width:0
  }

  .card-body{
    background-color: #5B5B5B;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }

  h4{
    font-size: 25px;
    font-family: var(--font2);
    color: white;
  }

  h5{

    font-size: 20px;
    font-family: var(--font2);
    color: white;
    font-weight: 700;

  }

  .layer1{
    top: 100px;
    left: 100px;
    right: 100px;
    bottom: 100px;
    background-color: rgba(255, 255, 255, 0.896);
      opacity: 0;
      transform: rotateY(180deg);
      transition: all 0.5s;
  }

  .col:hover .layer1{
    opacity: 1;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    transform: rotateY(360deg);

  }



  .layer1 i{
    font-size: 20px ;
    color: white;
    background-color: black;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0px 10px;
    border: 1px solid black;
  
  }

  .layer1 i:hover{
    background-color: white;
    color: black;
    cursor: pointer;
  }

  .fa-brands:before{
    align-self: center;
  }

  img{
    transition: all 0.5s;
  }

  .card-img:hover img{
    transform: scale(1.2);
  }

}

#Footer{

.item i{
  color: var(--color2);
  width: 55px ;
  height: 55px;
  border-radius: 50%;
  font-size: 25px;
  background-color: #F7F7F7 ;
  transition: all 0.7s;
}

.fa-solid:before{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

h6{
  font-size: 16px;
  font-family: var(--font2);
  color: var(--color1);
  font-weight: 700;
  margin: 8px 0px;
}

p{

  color:#748182;
  font-size: 15px;
  font-family: var(--font1);

}

.item:hover i{
  background-color: var(--color2) ;
  color: white;
}

.inpt{
  background-color: #F4F4F4;
  color:#343434;
  font-family: var(--font1);
  border: 0;
  font-size: 14px;
  border-radius: 7px;
  padding: 12px 7px;
  outline: transparent;
}

.btn11{
  padding: 8px 45px;
  background-color: var(--color2);
  color: white;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 13px;
  font-family: var(--font1);
  transition: all 0.7s;

}

textarea{
  height: 170px;
}


.btn11:hover{
  background-color: white;
  color: var(--color2);
  border: 1px solid var(--color2);
  
}






}

#Footer2{
  background-color: var(--color2);
  height: 11vh;
  color:#748182 ;
  font-size: 13px;
  font-family: var(--font1);
 
  
}